For loop and while loop

In [1]:
# For loop


for i in range(12):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [2]:
for i in range(6, 20):
  print(i)

6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for i in range(11, 25, 2 ):
  print(i)

11
13
15
17
19
21
23

In [10]:
for i in range(11, 100, 9):
  print(i)

11
20
29
38
47
56
65
74
83
92

In [11]:
for i in range(11, 100):
  print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [13]:
# ques: print all the even number between 50 and 100.

for i in range(50, 101):
    if i % 2 == 0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [14]:
for i in range(20, 5, -2):
  print(i)

20
18
16
14
12
10
8
6

In [17]:
for i in range(50, 100):
  if i%17==0 or i%23==0:
    print("Buzz")
  else:
    print("Num")

Num
Buzz
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Buzz
Buzz
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Num
Buzz
Num
Num
Num
Num
Num
Num
Buzz
Num
Num
Num
Num
Num
Num
Num

In [18]:
for i in range(50, 100):
  if i%4==0 or i%8==0:
    print("Buzz")
  elif i%5==0 or i%10==0:
    print("Fizz")
  elif i%11==0:
    print("Tom")
  else:
    print(i)

Fizz
51
Buzz
53
54
Fizz
Buzz
57
58
59
Buzz
61
62
63
Buzz
Fizz
Tom
67
Buzz
69
Fizz
71
Buzz
73
74
Fizz
Buzz
Tom
78
79
Buzz
81
82
83
Buzz
Fizz
86
87
Buzz
89
Fizz
91
Buzz
93
94
Fizz
Buzz
97
98
Tom

In [19]:
for i in range(10):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [28]:
num = int(input("Enter a number: "))


while True:
   if num > 10:
    print(num+10)
   else:
    print("enter the number any other different from the given one which fullfill the  ")
   break

Enter a number: 10
enter the number any other different from the given one which fullfill the

In [32]:
num = int(input("Enter a number: "))


while True:
  if num > 10:
    print(num+10)
    break
  else:
     print("Please enter the number greater than 10.")

Enter a number: 11
21

In [36]:
while True:
  try:
    num = int(input("Enter a number: "))
    if num > 10:
      print(num+10)
      break
    else:
      print("Low digit, try again!")
  except ValueError:
    print("Please try with a valid number. ")

Enter a number: 3
Low digit, try again!
Enter a number: 1
Low digit, try again!
Enter a number: 11
21

In [37]:
while True:
  try:
    num = int(input("Enter a number: "))
    if num > 10:
      print(num+10)
      break
    else:
      print("Low digit, try again!")
  except ValueError:
    print("Please try with a valid number. ")

Enter a number: pavitra
Please try with a valid number.
Enter a number: -10
Low digit, try again!
Enter a number: 89
99

In [38]:
while True:
  try:
    num = int(input("Enter a number: "))
    if num > 10:
      print(num+10)
      break
    else:
      print("Low digit, try again!")
  except ValueError:
    print("Please try with a valid number. ")

Enter a number: 2.7
Please try with a valid number.
Enter a number: 54
64